flask==2.2.3
numpy>=1.26.0,<2.0.0
pandas==2.2.0
xlsxwriter==3.1.2
python-docx==1.0.1
werkzeug==2.2.3
openpyxl==3.1.2
PyPDF2==3.0.1
pdfplumber==0.10.3
python-magic==0.4.27
phonenumbers==8.13.30
validate-email==1.3